[package]
name = "protobuf-compiler"
description = "Protocol Buffers compiler (protoc)"
homepage = "https://protobuf.dev/"
verify_binary = "protoc"

[install.homebrew]
package_name = "protobuf"

[install.apt]
package_name = "protobuf-compiler"

[install.pacman]
package_name = "protobuf"
